<!doctype html>
<html>
  <head>
    <title>Add New Student</title>
    <link rel="shortcut icon" href="img/School_Logo.png" type="image/type here" />
  <link href="css/style-new.css" type="text/css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css" media="screen">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body>
      <div id="header"></div>
    <div id="content" ng-app="schl" ng-init="pageTitle='Add a New Student'">
    <header><h1 id="ptitle">{{pageTitle}}</h1></header>
    <div id="cntl" ng-controller="formCntrl">
      <form name="addForm" accept-charset="utf-8" novalidate action="add_student.php" method="post">
	<fieldset id="student">
	  <legend>Student Information</legend>
	    <!--<label>ID:<span ng-model="stud.id"></span></label><br/> -->
	    <label>ID:<input id="id" name="id" type="text" ng-model="stud.id"</label><br/>
	    <label>SIN:<input id="sin" name="sin" type="text" ng-model="stud.sin"/></label><br/>

	    <label>First Name:<input name="firstName" type="text" ng-model="stud.firstName" required alpha-directive/></label><br/><span class="warning" ng-show="addForm.firstName.$touched && addForm.firstName.$invalid"> First Name must be entered required.</span>
	  <label>Last Name:<input name="lastName" type="text" ng-model="stud.lastName" required alpha-directive/></label><span class="warning" ng-show="addForm.lastName.$touched && addForm.lastName.$invalid"><br/> Last Name must be entered.</span><br/>

	  <label><input name="gender" type="radio" value='M' ng-model="stud.gender"/>Male </label>
	  <label><input name="gender" type="radio" value='F' ng-model="stud.gender"/>Female </label>
	  <label><input name="gender" type="radio" value='O' ng-model="stud.gender"/>Other</label>
	  <label>Date of Birth:<input type="date" name="dob" ng-model="stud.dob" required/></label>
	  <br/>
	  <label>Street:<input type="text" name="addr_1" ng-model="stud.addr_1"/></label>
	  <br/>
	  <label>Street Line 2:<input type="text" name="addr_2" ng-model="stud.addr_2"/></label>
	  <br/>
	  <label>City:<input type="text" name="city" ng-model="stud.city"/></label>
	  <br/>
	  <label>Postal Code:<input type="text" name="pcode" ng-model="stud.pcode"/></label>
	  <br/>
	  <label>State/Province:<input type="text" name="province" ng-model="stud.province"/></label>
	  <br/>
	  <label>Country:<input type="text" name="country" ng-model="stud.country"/></label><br/>
	  <label>Email:
	    <input type="email" name="email" name="email" ng-model="email" required/>
	    <span style="color:red" ng-show="addForm.email.$dirty && addForm.email.$invalid">
	      <span ng-show="addForm.email.$error.required">Email is required.</span>
	      <span ng-show="addForm.email.$error.email">Invalid email address.</span>
	    </span>
	  </label><br/>
	  <label>Phone#:<input type="text" name="phone" ng-model="stud.phone"/></label>
	  <br/>
    <label>Deposit:<input type="text" name="deposit" ng-init="stud.deposit=0.00" value="xyz" ng-model="stud.deposit"/></label>
	  <br/>
	  <label>Active:<input type="checkbox" name="status" ng-model="stud.status"/></label>
	  <br/>
	  <input type="submit" ng-disabled="addForm.firstName.$dirty &&
addForm.firstName.$invalid || (addForm.lastName.$dirty && addForm.lastName.$invalid)"  value="Save" />
	  <input type="reset" name="cancel" value="Cancel"/>
      </form>

    </div>
    </table>
    <footer>Copyright &copy; 2018</footer>
    </div>
<script src=js/nav.js type="text/javascript"></script>
<script type="text/javascript">
  function addUser(app)
  {

  app.directive('alphaDirective', function() {
  return {
  require: 'ngModel',
  link: function(scope, element, attr, mCtrl) {
  function myValidation(value) {
  //window.alert("here");
  // we want name to begin with a letter only:
  var pat = /[^a-z A-Z]/;
  if (pat.test(value))
  mCtrl.$setValidity('badChar', false);
  else
  mCtrl.$setValidity('badChar', true);

  /*
  if (value.indexOf("e") > -1) {
  mCtrl.$setValidity('charE', true);
  } else {
  mCtrl.$setValidity('charE', false);
  }*/

  return value;
  }
  mCtrl.$parsers.push(myValidation);
  }
  };
  });

  app.controller("formCntrl", function ($scope, $http) {
  $scope.submit = function() {
  if (!$scope.stud)
  {
  window.alert("Please enter some value");
  return;
  }
  if ($scope.stud.firstName == "")
    window.alert("First name cannot be empty");
     // window.alert("First name is " + $scope.stud.firstName);
  };});

}


  var app = angular.module("schl", []);
  addUser(app);

</script>
  </body>

</html>
