<!doctype html>
<html>
  <head>
    <title>Nurudeen Lameed School</title>
    <link rel="shortcut icon" href="img/School_Logo.png" type="image/type here" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	  <link rel="stylesheet" href="css/bootstrap-theme.css" media="screen">
  </head>
  <body ng-controller= "SCntrl" id="content" ng-app="schl" ng-init="pageTitle='List of Students'">
<!-- ------------------->

<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href="index.html">
					<img src="img/School_Logo.png" alt="Techro HTML5 template" style="width:70px;height:70px;"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="https://www.google.com" target="_blank">Programs</a></li>
					<li><a href="https://www.yahoo.com">Admissons</a></li>
					<li><a href="https://www.hotmail.com">Faculaty & Staff</a></li>
					<li><a href="https://www.albarqnet.com">Events</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="www.ft.com">Right Sidebar</a></li>
							<li><a href="#">Dummy Link1</a></li>
							<li><a href="#">Dummy Link2</a></li>
							<li><a href="#">Dummy Link3</a></li>
						</ul>
					</li>
					<li><a href="index.html">Contact</a></li>

          <!-- --------Login------------ -->

            						<div id="loginBox">
            							<form id="loginForm" action="sms_login.html" target="_blank" method="post">
            								<input type="hidden" name="WebSiteID" id="WebSiteID" value="47">
            								<div class="login-grids">
            									<div class="login-grid-left">
            										<fieldset id="body">
            											<input type="submit" id="login" value="Log in">
            										</fieldset>
            									</div>
            								</div>
            							</form>
            						</div>

          <!-- --------End Login------------ -->
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->


<!------------------------>
    <div>
    <header><h1 id="ptitle">{{pageTitle}}</h1></header>
    <!-- <div id="cntl" ng-controller="SCntrl"> -->
    <div ng-init="selOption='View Balance'">
    <div id="test" ng-bind="test"></div>

    <select ng-model="selOption" required>
    <option ng-repeat="op in viewOptions">{{op.desc}}</option>
    </select>

    <table ng-mouseout="closeWindow()">
      <tr><th>#</th><th>ID</th><th>Name</th><th>City</th><th>Country</th></tr>
      <tr id="r{{row.ID}}" class="t{{$index % 2}}" ng-repeat="row in students"
	   ng-dblclick="openWindow(selOption, row.ID)">
	<td ng-disabled="td">{{$index + 1}}</td>
	<td ng-disabled>{{row.ID}}</td>
	<td>{{row.FirstName + " " + row.LastName | uppercase}}</td>
	<td>{{row.City}}</td>
	<td>{{row.Country}}</td>
<!--	<td><button  ng-click="openWindow(selOption,row.ID)"><a href="">Select {{row.ID}}</a></button></td> -->
      </tr>
    </table>
    <footer>Copyright &copy; 2018</footer>
    </div>


  </body>

</html>
